# Server
PORT=3000

# Shopify
SHOPIFY_STORE_URL=
SHOPIFY_ACCESS_TOKEN=
SHOPIFY_WEBHOOK_SECRET=

# PesaPal
PESAPAL_CONSUMER_KEY=
PESAPAL_CONSUMER_SECRET=
PESAPAL_ENVIRONMENT=test

# Email
EMAIL_SERVICE=
EMAIL_USER=
EMAIL_PASSWORD=
